@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  header {
    position: relative;
    flex-direction: column;
    padding: 30px;
  }
  header .branding { margin-bottom: 12px;}
  header h1, header h1 a {
    font-size: 1.4rem;
  }
  header nav {
    align-items: center;
  }
  header nav ul.utility-menu {
    display: flex;
    border-top: 1px solid #fff;
    flex-direction: column;
    padding-top: 0.5rem;
    align-items: center;
    row-gap: 0.5rem;
    order: 2;
  }
  header nav ul.menu {
    order: 1;
  }
  header nav .menu, footer nav .menu {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }
  main {
    padding: 45px 30px;
  }
  main h2 {
    font-size: 2.2rem;
  }
  main h3 {
    font-size: 1.4rem;
  }
  .table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
  table {
    width: 100%;
  }
  table th, table td, table td input {
    font-size: .9rem;
  }
  table td.sleep-cell input, table td.weight-cell input {
    width: 9ch;
  }
  .trend-table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }
  .trend-chart {
    width: 100%;
  }
  footer {
    position: relative;
    padding: 30px;
  }
  footer nav .menu {
    flex-direction: column;
    align-items: center;
  }
}